.sepbar {border-top:2px solid lightgrey; margin-top:10px;}

.width_100 {width:100%;}

.width_20 {width:20%;}

.width_80 {width:80%;}

.fl {float:left;}

.custom_select_tag 
{
    padding:5px 8px !important;
    height:30px !important;
}

.custom_select_tag option {border-radius:2px;}

.custom_textbox 
{
    width:250px;
    border-radius:5px;
}

.arrow-up {
	width: 0; 
	height: 10px; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	float: right;
	clear: both;
	border-bottom: 5px solid black;
	margin-bottom:8px;
	margin-top:4px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	float: right;
	clear: both;
	border-top: 5px solid black;
	margin-top:15px;
}

.open_div
{
	width: 125px;
	vertical-align: middle ! important;
	text-align: center;
	height: auto;
}

.title_width
{
	float: left;
	width: 110px;
}

.arrow_width
{
	float: left;
	width: 10px;
	margin: -8px 0px 0px 2px;
}